<!DOCTYPE html>
<html>
  <head>
    <title>Der heise Tippgeber | Der sichere Briefkasten</title>

    <link rel="stylesheet" href="/static/css/source.css">
    <link rel="icon" type="image/png" href="/static/i/favicon.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% assets filters="jsmin", output="gen/source.js",
      "js/libs/jquery-2.1.4.min.js", "js/source.js" %}
      <script src="{{ ASSET_URL }}"></script>
    {% endassets %}
  </head>
  <body>
    <div class="js-warning warning"><strong>We recommend turning the Security Slider to High to protect your anonymity:</strong> <a id="disable-js" href="">Learn how to set it to high</a>, or ignore this warning to continue. <img id="js-warning-close" src="{{ url_for('static', filename='i/font-awesome/times-white.png') }}" width="12px" height="12px"></div>
    <div class="use-tor-browser warning"><strong>We recommend using Tor Browser to access SecureDrop:</strong> <a id="recommend-tor" href="{{ url_for('recommend_tor_browser') }}">Learn how to install it</a>, or ignore this warning to continue. <img id="use-tor-browser-close" src="{{ url_for('static', filename='i/font-awesome/times-white.png') }}" width="12px" height="12px"></div>

    {% include 'banner_warning_flashed.html' %}

    <div class="content">
      <div class="grid">
        {% include 'flashed.html' %}
        {# The div `index-wrap` MUST be ordered this way so that the flexbox works on large and small screens
           See _source_index.sass for a more full understanding. #}
        <div class="index-wrap">
          <div class="header">
            <img src="/static/i/{{ header_image }}" alt="heise Tippgeber">
            {% if use_custom_header_image %}
            <div class="powered">
              Powered by<br>
              <img src="/static/i/securedrop_small.png" alt="heise Tippgeber">
            </div>
            {% endif %}
          </div>

          <div class="index-row">
            <div class="index-column index-left index-top">
              <h2 class="welcome-text">
                Werfen Sie etwas in unseren sicheren Briefkasten ein
              </h2>
              <hr class="cut-out">
            </div>

            <div class="index-column index-top">
              <h2 class="welcome-text">
                Haben Sie bereits einen Geheimcode?
              </h2>
              <hr class="cut-out">
            </div>

            <div class="index-column index-left">
              <p>Wenn Sie den sicheren Briefkasten zum ersten Mal benutzen, bitte hier anfangen.</p>
            </div>

            <div class="index-column">
              <p>Wenn Sie uns schon Dokumente übermittelt haben, bitte hier anmelden, um Antworten zu lesen.</p>
            </div>

            <div class="index-column index-left index-bottom">
              <a href="/generate" id="submit-documents-button" class="sd-button btn alt">
                <img class="icon off-hover" src="{{ url_for('static', filename='i/font-awesome/cloud-upload-white.png') }}" width="20px" height="14px">
                <img class="icon on-hover" src="{{ url_for('static', filename='i/font-awesome/cloud-upload-blue.png') }}" width="20px" height="14px">
                HOCHLADEN
              </a>
            </div>

            <div class="index-column index-bottom">
              <a href="/login" id="login-button" class="sd-button btn primary">
                <img class="icon off-hover" src="{{ url_for('static', filename='i/font-awesome/comments-white.png') }}" width="20px" height="16px">
                <img class="icon on-hover" src="{{ url_for('static', filename='i/font-awesome/comments-blue.png') }}" width="20px" height="16px">
                ANTWORTEN LESEN
              </a>
            </div>
          </div>
        </div>
      </div>

      <footer>
        Powered by SecureDrop {{ version }}.
      </footer>
    </div>

    {# Warning bubble to help TB users disable Javascript with NoScript.
    Included here so the images can preload while the user is first
    reading the page. Hidden by default. #}
    <div class="bubble" id="security-slider-info-bubble">
    
    </div>

  </body>
</html>
