<!DOCTYPE html>
<html>
  <head>
    <title>Der heise Tippgeber | Der sichere Briefkasten</title>
    <link rel="stylesheet" href="/static/css/normalize.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/static/css/source.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/static/css/font-awesome.css" type="text/css" media="all" />
    <link rel="icon" type="image/png" href="/static/i/favicon.png">
    <script type="text/javascript" src="/static/js/libs/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/static/js/source.js"></script>
  </head>
  <body>

    <div class="content">
      <div class="grid">
	{% include 'flashed.html' %}
        <div id="header">
          <img src="/static/i/{{ header_image }}" class="logo grid-item" alt="heise Tippgeber">
          {% if use_custom_header_image %}
          <div class="powered">
            Powered by<br/>
            <img src="/static/i/securedrop_small.png" alt="heise Tippgeber">
          </div>
          {% endif %}
        </div>

        <div class="grid-item option alt">
          <h2>
            Werfen Sie etwas in unseren sicheren Briefkasten ein
          </h2>
          <hr class="cut-out" />
          <p>Wenn Sie den sicheren Briefkasten zum ersten Mal benutzen, bitte hier anfangen.</p>
          <a href="/generate" class="btn alt block" id="submit-documents-button">
            <img class="icon off-hover" src="{{ url_for('static', filename='i/font-awesome/cloud-upload-white.png') }}" width="20px" />
            <img class="icon on-hover" src="{{ url_for('static', filename='i/font-awesome/cloud-upload-blue.png') }}" width="20px" />
            Hochladen
          </a>
        </div>
        <div class="grid-item option">
          <h2>
            Haben Sie bereits einen Geheimcode?
          </h2>
          <hr class="cut-out" />
          <p>Wenn Sie uns schon Dokumente übermittelt haben, bitte hier anmelden, um Antworten zu lesen.</p>
          <a href="/login" class="btn block">
            <img class="icon off-hover" src="{{ url_for('static', filename='i/font-awesome/comments-white.png') }}" width="20px" />
            <img class="icon on-hover" src="{{ url_for('static', filename='i/font-awesome/comments-blue.png') }}" width="20px" />
            Antworten
          </a>
        </div>
      </div>

      <footer>
        Powered by SecureDrop {{ version }}.
      </footer>
    </div>
  </body>
</html>
