{% extends "base.html" %}
{% block body %}

<div class="center">

  <h2 class="headline">Schicken Sie uns eine Nachricht, eine Datei oder beides</h2>

  <hr class="no-line">
</div>

<form id="upload" method="post" action="/submit" enctype="multipart/form-data" autocomplete="off">
  <input name="csrf_token" type="hidden" value="{{ csrf_token() }}"/>
  <div class="snippet">
    <div class="attachment grid-item center">
      <img class="center" src="{{ url_for('static', filename='i/font-awesome/upload-large-gray.png') }}">
      <input type="file" name="fh" autocomplete="off">
      <p class="center" id="max-file-size">Maximale Dateigröße: 500 MB</p>
    </div>
    <div class="message grid-item">
      <textarea name="msg" class="fill-parent" placeholder="Text eingeben"></textarea>
    </div>
  </div>

  <hr class="no-line">

  <button type="submit" class="btn primary" id="submit-doc-button">
    <img class="icon off-hover" src="{{ url_for('static', filename='i/font-awesome/cloud-upload-white.png') }}" width="20px" />
    <img class="icon on-hover" src="{{ url_for('static', filename='i/font-awesome/cloud-upload-blue.png') }}" width="20px" />
    Abschicken
  </button>
</form>

<hr class="no-line"/>

<h2 class="headline">Antworten der Redaktion</h2>

<div id="replies">
  {% if replies %}
    <p>Sie haben eine Antwort erhalten. Aus Sicherheitsgründen sollten Sie alle Antworten löschen, wenn Sie diese bearbeitet haben. So sehen wir außerdem, dass Sie die Antwort erhalten haben. Sie können antworten, in dem Sie oben eine Nachricht abschicken.</p>
    <hr class="no-line">
    {% for reply in replies %}
      <div class="reply">
        <time class="date" title="{{ reply.date|datetimeformat }}" datetime="{{ reply.date }}">{{ reply.date|datetimeformat(relative=True) }}</time>
        <form class="message" method="post" action="/delete" autocomplete="off">
          <input name="csrf_token" type="hidden" value="{{ csrf_token() }}"/>
          <input type="hidden" name="reply_filename" value="{{ reply.filename }}" autocomplete="off"/>
          <button type="submit"><img src="{{ url_for('static', filename='i/font-awesome/trash-black.png') }}" width="20px" height="20px"> Löschen</button>
        </form>
        <blockquote>{{ reply.decrypted | nl2br }}</blockquote>
        <div class="clearfix"></div>
      </div>
    {% endfor %}
  {% else %}
    <p id="no-replies">Sie haben momentan keine Antworten.</p>
  {% endif %}
</div>

<hr class="no-line">

<div class="code-reminder">
  <img class="pull-left" src="{{ url_for('static', filename='i/font-awesome/lock-black.png') }}" width="20px" height="20px">Ihr Geheimcode ist: <strong>{{ codename }}</strong>
</div>

{% endblock %}
