{% extends "base.html" %}
{% block body %}
<h2>Warum werde ich vor Tor2Web gewarnt?</h2>
<p><a href='https://tor2web.org'>Tor2Web</a> ist ein Proxy-Dienst mir dem man Tor Hidden Services (.onion-Webseiten) besuchen kann, ohne Tor zu installieren.</p>
<p>Tor2Web soll Nutzer schützen, die Inhalte im Tor-Netz veröffentlichen wollen. Es wurde nicht entwickelt, um Nutzer zu schützen. Wenn Sie Tor2Web nutzen, <strong>ist Ihre Anonymität nicht gewährleistet</strong>. Ihr Internet-Anbieter oder die Betreiber des Tor2Web-Proxies können Sie enttarnen. Außerdem setzen Sie sich weiteren Angriffsmöglichkeiten aus.</p>
<p>Wir <strong>empfehlen Ihnen deshalb</strong>, <a href='https://www.torproject.org/download.html.en'>Tor</a> zu installieren und Ihre Nachrichten und Dokumente auf sicherem Wege zu übermitteln.</p>
{% endblock %}
